body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03em; 
}

span{
    font-family: Arial, Helvetica, sans-serif;
    margin: 250px;
}

h3{
    font-size: 12vw;
  margin-top: 20px;
  margin-left:380px;
}

#rectangle{
    width: 1500px;
    height: 200px;
    background:coral;
}

h4{
    width: 500px;
    background-color: white;
    font-size: 2vw;
    margin-left: 620px;
}


h5{
    color: lightgray;
    font-size: 6vw;
    margin-left: 20px;
}

h6{
    color: black;
    font-size: 6vw;
    margin-left: 20px;
}