body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03em; 
}

div{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

h3{
    font-size: 12vw;
  margin-top: 0px;
  letter-spacing: 10em; 
  margin-left:50px;
}

#rectangle{
    width:200px;
    height:100px;
    background:coral;
}
