body {
    background-color: black;
}
body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.03em; 
}

span{
    font-family: Arial, Helvetica, sans-serif;
    margin: 250px;
    color: white;
}


h4{
    font-size: 20vw;
  margin-top: 15px;
  margin-left:30px;
  color: white;
}

#rectangle{
    width: 1500px;
    height: 800px;
    background:white;
}