body {
    background-color: lightblue;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: larger;
}

.red-paragraph {
              color:brown
}
.red-paragraph {
              font-family: sans-serif;
}
.green-paragraph {
                color:aquamarine
}
.green-paragraph {
                font-family: sans-serif;
}
.blue-paragraph {
               color:blue
}
.blue-paragraph {
               font-family: sans-serif;
}